{% extends 'crm/base.html' %}

{% block content %}
<div class="container">
    <h2>Delete the record</h2>
    <p>Unexpected bad things may happen. This cannot be reverted.</p>
    <hr />
    <div class="card">
        <form action="" method="POST">
            {% csrf_token %}
            {{ contact }} <a href="{% url 'view-record' contact.id %}" title="View record">&#10132;</a>
            <button class="btn" id="btn-del" type="submit">Confirm
                Deletion</button>
        </form>
    </div>
    <a href="{% url 'dashboard' %}" class="btn btn-grey">Return to Dashboard</a>
    <a href="{% url 'update-record' contact.id %}" class="btn btn-edit">Update instead</a>
</div>
{% endblock %}